* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 5%;
    grid-column-gap: 45px;
}
inner {
    background-color: #D5E8D4;
    border: solid 3px black;
    display: grid;
    grid-template: repeat(2, 1fr);
}
main cont inner p {
    padding: 4%;
    line-height: 1.65;
    font-size: 20px;
}
.label1 {
    background-color: #F0A30A;
}

.label2 {
    background-color: #D80073;
    color: white;
}

.label3 {
    background-color: #FAD9D5;
}

.label1,
.label2,
.label3 {
    border-bottom: solid 3px black;
    border-left: solid 3px black;
    justify-self: end;
    padding: 2% 4%;
    font-size: 15px;
    font-weight: bold;
}
